<div class="container-fluid ">
  
  <h1 class="text-center "></h1>
  
      <div class="row" >
        <div id="nav">
          <div class="col-sm-7" style="display: inline-block; margin-left: 1%;">
  <a routerLink='/home'><img src="assets/logo.png" class="img-fluid" alt=""></a>
      </div>
      
  
      
<!--  <div id="button">
      <button type="button" class="btn btn-outline-light">Home</button>
      <button type="button" class="btn btn-outline-light" onclick="Login()">Login</button>
      <button  type="button" class="btn btn-outline-light">Register</button>
  </div>  -->



      <div class="col-sm-4" style=" float:right; margin-right: 3%;" >
  <li class="navbar-toggler nav-item dropdown" style="float: right;">
    
      <a class="nav-link"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/home">Home</a>
        <a class="dropdown-item" routerLink="/login">Login</a>
        <a class="dropdown-item" routerLink="/eregister">Register</a>
      </div>
    </a>
    </li></div>
  </div>
    

  </div>
</div>