<div class="full">
  
    <div class="wrapper">
        
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <div class="signup-form">
        <form  class="form-container" [formGroup]="registrationForm" (ngSubmit)="createCode()">
            <h2>Create An Account</h2>
            <p>                    </p>
            <div class="form-group" >
                <input type="text" class="form-control" formControlName="name" placeholder="Enter User Name" 
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <p *ngIf="f.name.errors.required">Name is required</p>
                </div>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Email Id"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <p *ngIf="f.email.errors.required">Email Id is required</p>
                    <p *ngIf="f.email.errors.pattern">Please provide a valid email-id</p>
                </div>
            </div>

            <div class="form-group" >
                <input type="text" class="form-control" formControlName="Password" placeholder="Password" 
                [ngClass]="{ 'is-invalid': submitted && f.college.errors }">
                <div *ngIf="submitted && f.college.errors" class="invalid-feedback">
                    <p *ngIf="f.college.errors.required">College is required</p>
                </div>
            </div>

            <div class="form-group" >
                <input type="number" class="form-control" formControlName="Confirm Password" placeholder="Confirm Password " 
                
                </div>
            </div>   

           
        </form>
        <div class="text-center">Already Registered? <a routerLink='/login'>Login</a></div>
    </div>
      </ul>
      </div>
      </div>
